.vscode/
build/
.cache/
.DS_Store
__pycache__/
tools/gen_templates
*.png
*.jpg
*.gif
!assets/templates/*.png
!assets/templates/**/*.png
!assets/templates/**/*.jpg
!assets/templates/**/*.gif
!assets/emoji/*.png
output/
.superpowers/
